@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Hide scrollbar but maintain functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
/* Add smooth scrolling */
.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.drawer-content{
  position: relative;
  z-index: 2;  
}

.drawer-content-inner {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 99%;
  left: 0;
}